body {
  background-color: #f0e9e9c2;
}

.banner-height {
  height: 90vh;
}

.ceo-container {
  height: 20rem;
}

.ceo-img {
  border: 6px solid gray;
  border-radius: 50%;
  height: 20rem;
}

.banner-bg {
  height: 200rem;
  background: url('../img/ggf4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-banner-container {
  background: wheat;
}
.banner-height {
  /* background-color: blueviolet;
  background: url('../img/ggf2.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgba(3, 8, 32, 0.829);
}

.form_bg {
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 76, 121, 0.36318277310924374) 35%,
      rgba(75, 68, 4, 0.692) 100%
    ),
    url('../img/ggf1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login_container {
  height: 90vh;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 76, 121, 0.36318277310924374) 35%,
      rgba(75, 68, 4, 0.692) 100%
    ),
    url('../img/ggf8.jpg');
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.banner-info-2 {
  background: url('../img//ggf11.jpg');
}

.child-1 {
  background: white;
  padding-right: 20px;
  border-radius: 20px;
  margin-right: -10px;
  z-index: 6;
}

.gallery-container {
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 76, 121, 0.36318277310924374) 35%,
      rgba(75, 68, 4, 0.692) 100%
    ),
    url('../img/ggf8.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.members-avatr {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.footer {
  background: rgb(43, 31, 31);
}
