body {
  background-color: rgb(210, 194, 194);
}

.banner-height {
  height: 100vh;
}

.b {
  background-color: brown;
  height: 100vh;
}

.banner-left {
}

.banner-height2 {
  background-color: blueviolet;
  background: url('https://cdn.pixabay.com/photo/2019/12/11/21/51/bali-4689382_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form_bg {
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 76, 121, 0.36318277310924374) 35%,
      rgba(75, 68, 4, 0.692) 100%
    ),
    url('https://cdn.pixabay.com/photo/2013/01/04/02/37/children-73476_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login_page {
  height: 90vh;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
